#access-view {
	align-items: center;
	background-color: var(--bg-color);
	display: none;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	overflow-y: auto;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}
#access-card {
	max-width: 400px;	
}
h1 {
	border-bottom: 2px solid var(--border-color);
	color : var(--text-color);
	padding-bottom : 10px;
}
h2 {
	color : var(--text-color);
	margin-top : 25px;
}
p, li {
	font-size : 0.95em; 
}
.important {
	background : var(--header-bg);
	border-left: 4px solid #ffeeba;
	margin : 15px 0;
	padding: 10px;
}
.access-form {
	align-items: center; 
	display: flex;
	flex-direction: column;
	padding: 5 px 10px;
}
#access-main {
	display: flex;
	flex-direction: column;
}