#cgu-view {
	background-color: var(--bg-color);
	display: block;
	height: 100vh;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}
#cgu-card {
	overflow-y: auto;	
}
h1 {
	border-bottom: 2px solid var(--border-color);
	color : var(--text-color);
	padding-bottom : 10px;
}
h2 {
	color : var(--text-color);
	margin-top : 25px;
}
p, li {
	font-size : 0.95em; 
}
.important {
	background : var(--bg-color);
	border-left: 4px solid var(--border-color);
	margin : 15px 0;
	padding: 10px;
}