#welcome-view {
	align-items: center;
	justify-content: center;
}
#daily-quote-container {
	background: var(--bg-color);
	border-left: 4px solid var(--border-color);
	font-style: italic;
    margin: 15px 0;
	padding: 10px;
}