<div class="card" id="access-card">	
	<div id="access-main">
		<h1 id="access_main_title"></h1>
		<form id="access-form" class="access-form">
			<input type="text" id="input_pseudo" class="input" placeholder="..." rows="1"></input>
			<input type="password" id="input_key" class="input" placeholder="..." rows="1"></input>
			<button id="access_btn" type="submit"></button>
		</form>
		<p id="access_sec1_text" style="cursor: pointer; text-decoration: underline; opacity: 0.8; transition: opacity 0.2s;"></p>
	</div>	
	<div id="access-new" style="display:none;">
		<h1 id="access_new_title"></h1>
		<form id="access-new-form" class="access-form">
			<input type="text" id="input_pseudo_new" class="input" placeholder="..." rows="1"></input>
			<input type="password" id="input_key_new" class="input" placeholder="..." rows="1"></input>
			<button id="new_btn" type="submit"></button>
		</form>
		<div class="important" id="access_sec2_text"></div>
	</div>
</div>