<div class="header" id="cgu-header">
	<button id="bridge-return">↩️</button>
	<div class="lang">
		<select class="lang-selector" id="cgu-lang-selector" onchange="onLanguageChange(this.value)">
			<option value="fr">Français 🇫🇷</option>
			<option value="en">English 🇬🇧</option>
			<option value="zh">中文 🇨🇳</option>
		</select>
	</div>
</div>
<div class="card" id="cgu-card">
	<h1 id="cgu_main_title"></h1>
	<p><i id="last_update"></i></p>
	<section>
		<h2 id="cgu_sec1_title"></h2>
		<p id="cgu_sec1_text"></p>
	</section>
	<section>
		<h2 id="cgu_sec2_title"></h2>
		<div class="important" id="cgu_sec2_text"></div>
	</section>
	<section>
		<h2 id="cgu_sec3_title"></h2>
		<p id="cgu_sec3_text"></p>
	</section>
	<section>
		<h2 id="cgu_sec4_title"></h2>
		<p id="cgu_sec4_text"></p>
	</section>
	<section>
		<h2 id="cgu_sec5_title"></h2>
		<p id="cgu_sec5_text"></p>
	</section>
</div>